<% content_for(:body_class) { "hero" } %>
<div class="container col-xxl-12">
  <div class="row align-items-center">
    <div class="col-sm-12 text-center">
      <%= image_tag asset_path("images/logo.png"), class: 'logo' %>
      <p class="lead">Automatically identify and track your summits in different regions from Strava activity data.</p>
      <p><strong>Currently Victoria, Australia only.</strong></p>
      <img src="<%= asset_path("images/screenshot.png") %>" class="hero-screenshot d-block mx-lg-auto img-fluid" alt="Interface screenshot" width="700" height="500" loading="lazy">

      <p />
      <br />
      <div class="gap-2 col-xs-4 text-center">
        <%= link_to "About", '/help', class: 'btn btn-outline-main btn-lg px-4 me-md-2' %>
        <%= link_to 'Start Tracking', '/dashboard', class: "btn btn-main btn-lg px-4 me-md-2" %>
      </div>
    </div>
  </div>
</div>
